div.list_item_performer.grid-item.col-sm-4(class="col-md-4 performer_performer")
	.box_wrapper.col-sm-12
		a.main_event_title_wrapper(href="/" + box.permalink, title=box.display_name)
			h3.main_event_title= box.display_name
		a.main_performace_image_wrapper(href="/" + box.permalink, title=box.display_name)
			if box.files.length
				img.main_performace_image(src=_h.media.processImage(box.files[0].file, 480, 160))
			else
				img.main_performace_image(src="https://placehold.it/480x160?text=No+image")
		.main_event_box
			.main_event_details
				ul
					if box.stats.members
						li= box.stats.members +__(" Members")
					if(box.stats.performances)
						li= box.stats.performances +__(" Performances")
					if(box.stats.events)
						li= box.stats.events +__(" Events")
